<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Site administration | Grappelli</title>
    <meta charset="utf-8"/>
    <meta name="robots" content="NONE,NOARCHIVE"/>
    <!-- STYLESHEETS -->

    <link href="/static/grappelli/jquery/ui/css/custom-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet"
          type="text/css" media="screen"/>
    <link href="/static/grappelli/stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen"/>

    <link href="/static/grappelli/stylesheets/mueller/grid/output.css" rel="stylesheet" type="text/css" media="screen"/>


    <script type="text/javascript">window.__admin_media_prefix__ = "/static/grappelli/";</script>
    <!-- jQuery, jQuery-UI -->
    <script src="/static/grappelli/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/static/grappelli/jquery/ui/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>


</head>
<body class="dashboard">
<div id="grp-container">


    <!-- HEADER -->
    <header id="grp-header" class="">
        <!-- NAVIGATION -->
        <div id="grp-navigation">


            <h1 id="grp-admin-title"><a href="/admin">回到管理界面</a></h1>

            <ul id="grp-user-tools">
                <li class="grp-user-options-container grp-collapse grp-closed ">
                </li>
                <!-- Documentation -->
            </ul>
        </div>


        <div id="grp-context-navigation">
            <nav id="grp-breadcrumbs" class="">
                <header style="display:none"><h1>Breadcrumbs</h1></header>

                <ul class="grp-horizontal-list">
                    <li>管理员工具</li>
                </ul>

            </nav>
        </div>
    </header>


    <!-- CONTENT -->
    <article id="grp-content" class="content-grid">

        <!-- MESSAGES -->


        <!-- CONTENT TITLE -->
        <header id="grp-content-title">
            <h1>管理员工具界面</h1>
        </header>

        <!-- CONTENT-CONTAINER -->
        <div id="grp-content-container">


            <div class="g-d-c">
                <div class="g-d-12 g-d-f" id="column_1">


                    <div id="module_1" class="grp-group  grp-stackedgrp-dashboard-module grp-collapse grp-open">


                        <h2 class="module_title grp-collapse-handler">Group: Administration &amp; Applications</h2>


                        <div id="module_1_1" class="grp-module grp-dashboard-module">


                            <h3 class="module_title">Administration</h3>


                            <div class="grp-module" id="module-authentication and authorization"><h4><a
                                    href="/admin/auth/">Authentication and Authorization</a></h4>

                                <div class="grp-row"><a href="/admin/auth/group/"><strong>Groups</strong></a>
                                    <ul class="grp-actions">
                                        <li class="grp-add-link"><a href="/admin/auth/group/add/">Add</a></li>
                                        <li class="grp-change-link"><a href="/admin/auth/group/">Change</a></li>
                                    </ul>
                                </div>
                                <div class="grp-row"><a href="/admin/auth/user/"><strong>Users</strong></a>
                                    <ul class="grp-actions">
                                        <li class="grp-add-link"><a href="/admin/auth/user/add/">Add</a></li>
                                        <li class="grp-change-link"><a href="/admin/auth/user/">Change</a></li>
                                    </ul>
                                </div>
                            </div>


                        </div>


                        <div id="module_1_2"
                             class="grp-module grp-dashboard-module grp-collapse grp-open collapse closed">


                            <h3 class="module_title grp-collapse-handler">Applications</h3>


                            <div class="grp-module" id="module-ecommunity"><h4><a
                                    href="/admin/ECommunity/">Ecommunity</a></h4>

                                <div class="grp-row"><a href="/admin/ECommunity/article/"><strong>Articles</strong></a>
                                    <ul class="grp-actions">
                                        <li class="grp-add-link"><a href="/admin/ECommunity/article/add/">Add</a></li>
                                        <li class="grp-change-link"><a href="/admin/ECommunity/article/">Change</a></li>
                                    </ul>
                                </div>
                                <div class="grp-row"><a href="/admin/ECommunity/channel/"><strong>Channels</strong></a>
                                    <ul class="grp-actions">
                                        <li class="grp-add-link"><a href="/admin/ECommunity/channel/add/">Add</a></li>
                                        <li class="grp-change-link"><a href="/admin/ECommunity/channel/">Change</a></li>
                                    </ul>
                                </div>
                                <div class="grp-row"><a
                                        href="/admin/ECommunity/collection/"><strong>Collections</strong></a>
                                    <ul class="grp-actions">
                                        <li class="grp-add-link"><a href="/admin/ECommunity/collection/add/">Add</a>
                                        </li>
                                        <li class="grp-change-link"><a href="/admin/ECommunity/collection/">Change</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="grp-row"><a
                                        href="/admin/ECommunity/customer/"><strong>Customers</strong></a>
                                    <ul class="grp-actions">
                                        <li class="grp-add-link"><a href="/admin/ECommunity/customer/add/">Add</a></li>
                                        <li class="grp-change-link"><a href="/admin/ECommunity/customer/">Change</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>


                    </div>


                    <div id="module_2" class="grp-module grp-dashboard-module grp-collapse grp-open collapse closed">


                        <h2 class="module_title grp-collapse-handler">AppList: Applications</h2>


                        <div class="grp-module" id="module-ecommunity"><h3><a href="/admin/ECommunity/">Ecommunity</a>
                        </h3>

                            <div class="grp-row"><a href="/admin/ECommunity/article/"><strong>Articles</strong></a>
                                <ul class="grp-actions">
                                    <li class="grp-add-link"><a href="/admin/ECommunity/article/add/">Add</a></li>
                                    <li class="grp-change-link"><a href="/admin/ECommunity/article/">Change</a></li>
                                </ul>
                            </div>
                            <div class="grp-row"><a href="/admin/ECommunity/channel/"><strong>Channels</strong></a>
                                <ul class="grp-actions">
                                    <li class="grp-add-link"><a href="/admin/ECommunity/channel/add/">Add</a></li>
                                    <li class="grp-change-link"><a href="/admin/ECommunity/channel/">Change</a></li>
                                </ul>
                            </div>
                            <div class="grp-row"><a
                                    href="/admin/ECommunity/collection/"><strong>Collections</strong></a>
                                <ul class="grp-actions">
                                    <li class="grp-add-link"><a href="/admin/ECommunity/collection/add/">Add</a></li>
                                    <li class="grp-change-link"><a href="/admin/ECommunity/collection/">Change</a></li>
                                </ul>
                            </div>
                            <div class="grp-row"><a href="/admin/ECommunity/customer/"><strong>Customers</strong></a>
                                <ul class="grp-actions">
                                    <li class="grp-add-link"><a href="/admin/ECommunity/customer/add/">Add</a></li>
                                    <li class="grp-change-link"><a href="/admin/ECommunity/customer/">Change</a></li>
                                </ul>
                            </div>
                        </div>


                    </div>


                    <div id="module_3" class="grp-module grp-dashboard-module">


                        <h2 class="module_title">ModelList: Administration</h2>


                        <div class="grp-row">
                            <a href="/admin/auth/group/"><strong>Groups</strong></a>

                            <ul class="grp-actions">
                                <li class="grp-add-link"><a href="/admin/auth/group/add/">Add</a></li>
                                <li class="grp-change-link"><a href="/admin/auth/group/">Change</a></li>
                            </ul>

                        </div>

                        <div class="grp-row">
                            <a href="/admin/auth/user/"><strong>Users</strong></a>

                            <ul class="grp-actions">
                                <li class="grp-add-link"><a href="/admin/auth/user/add/">Add</a></li>
                                <li class="grp-change-link"><a href="/admin/auth/user/">Change</a></li>
                            </ul>

                        </div>

                    </div>


                </div>
                <div class="g-d-8" id="column_2" style="margin-left:100px;">

                    <div id="module_4" class="grp-module link-list grp-dashboard-module grp-collapse grp-open">


                        <h2 class="module_title grp-collapse-handler">APP首页图片上传</h2>


                        <ul class="grp-listing-large">
                            <form enctype="multipart/form-data" method="post" id="uploadForm">
                                <input name="upfile" type="file" onchange="loadImage(this)" id="upload"/>
                                <input type="submit" value="上传" id="uploadAppImage">
                            </form>
                        </ul>


                    </div>


                </div>
            </div>


        </div>

    </article>

    <!-- FOOTER -->


</div>
<script>
    function checkFileExt(ext) {
        if (!ext.match(/.jpg|.gif|.png|.bmp/i)) {
            return false;
        }
        return true;
    }
    function loadImage(img) {
        var filePath = img.value;
        var fileExt = filePath.substring(filePath.lastIndexOf("."))
                .toLowerCase();

        if (!checkFileExt(fileExt)) {
            alert("您上传的文件不是图片,请重新上传！");
            img.value = "";
            return;
        }
        if (img.files && img.files[0]) {
            alert('你选择的文件大小为  ' + (img.files[0].size / 1024).toFixed(0) + "kb");
        } else {
            img.select();
            var url = document.selection.createRange().text;
            try {
                var fso = new ActiveXObject("Scripting.FileSystemObject");
            } catch (e) {
                alert('如果你用的是ie8以下请将安全级别调低!');
            }
            alert("文件大小为：" + (fso.GetFile(url).size / 1024).toFixed(0) + "kb");
        }
    }

    $("#uploadAppImage").click(function (e) {
        e = e || window.event;
        e.preventDefault();
        var formData = new FormData(document.getElementById("uploadForm"));
        formData.append('upfile', document.getElementById('upload').files[0]);
        $.ajax({
            url: "http://localhost:8001/appImgUp",
            type: "POST",
            data: formData,
            processData: false,  // 告诉jQuery不要去处理发送的数据
            contentType: false   // 告诉jQuery不要去设置Content-Type请求头
        }).done(function(msg){
            msg = JSON.parse(msg);
            if(msg.state = "success"){
                alert("上传图片成功");
            }else{
                alert("上传图片失败");
            }
        })
    })
</script>
</body>
</html>
