<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="../css/article.css" type="text/css" rel="stylesheet">
    <link href="../css/font/iconfont.css" type="text/css" rel="stylesheet">
        <title>文章详情</title>
</head>
<body>
<div class="content">
    <div class="leftContent">
        <div class="articleTitle" style="background: url(../image/titleInfo.jpg) no-repeat; background-size: cover">
            <span class="titleInfo">夏季养生宝典--挑选养生蔬菜的原则(如果标题比较长就是这个样子,相对背景居中)</span>

            <div class="catalog">
                <span class="catalogList">#健康养生</span><span class="catalogList">#饮食健康</span>
            </div>
            <div class="statisticInfo">
                <i class="iconfont">&#xe61b;</i><span class="statisticNum">1232</span>
                <i class="iconfont">&#xe629;</i><span class="statisticNum">3212</span>
                <i class="iconfont">&#xf0075;</i><span class="statisticNum">111</span>
            </div>

        </div>
        <div class="articleInfo">
            <span>2014年6月8日&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>来源：<span>果壳网</span></span>
        </div>
        <div class="articleContent">
            <p>立夏已过，各地高温来袭，美女们黑丝、超短已经穿上身，西瓜、冰淇淋等解暑食品也开始上市畅销。很多人受不闷热的天气，喜欢喝冷饮、洗冷水澡或是对着电扇吹。然而，初夏气温虽高，湿气却比较重，过食生冷轻易伤脾胃。</p>

            <p>夏季养生宝典挑选养生蔬菜原则</p>

            <p>1、多吃含水量多的瓜类蔬菜</p>

            <p>
                夏季气温高，人体丢失的水分比其他季节要多，需要及时补充水分。冬瓜含水量居众菜之冠，高达96%，其次是黄瓜、金瓜、丝瓜、佛手瓜、南瓜、苦瓜、西瓜等。这就是说，吃了500克的瓜菜，就即是喝了450毫升高质量的水。另外，所有瓜类蔬菜都具有高钾低钠的特点，
                有降低血压、保护血管的作用。</p>

            <p>2、多吃清热往湿的凉性蔬菜</p>

            <p>夏季对人体影响最重要的因素是暑湿之毒。暑湿侵进人体后会导致毛孔张开，过多出汗，造成气虚，还会引起脾胃功能失调，食品消化不良。
                吃些凉性蔬菜，有利于生津止渴，除烦解暑，清热泻火，排毒通便。夏季上市的凉性蔬菜有苦瓜、丝瓜、黄瓜、菜瓜、西瓜、
                甜瓜、番茄、茄子、芹菜、菊花脑、生菜、芦笋等。</p>

            <p>3、多吃解火败毒苦味蔬菜</p>

            <p>
                科学研究发现，苦味食品中含有氨基酸、维生素、生物碱、甙类、微量元素等，具有抗菌消炎、解热往暑、提神醒脑、消除疲惫等多种医疗、保健功能。现代营养学家以为，苦味食品可促进胃酸的分泌，增加胃酸浓度，从而增加食欲。常见的苦味蔬菜有苦瓜、苦菜、蒲公英、荷叶等。</p>

            <p>4、多吃抗炎杀菌的蔬菜</p>

            <p>
                夏季气温高，病原菌滋生蔓延快，是人类疾病尤其是肠道传染病多发季节。这时多吃些“杀菌”蔬菜，可预防疾病。这类蔬菜包括：大蒜、洋葱、韭菜、大葱、香葱、青蒜、蒜苗等。这些葱蒜类蔬菜中，含有丰富的植物广谱杀菌素，对各种球菌、杆菌、真菌、病毒有杀灭和抑制作用。其中，作用最突出的是大蒜。近年研究查明，大蒜的有效成分主要是大蒜素。由于大蒜中的蒜酶遇热会失往活性，为了充分发挥大蒜的杀菌防病功能，最好生食。</p>

            <div id="playercontainer"></div>
        </div>
    </div>
    <div class="rightContent">
        <div class="interactionList">
            <div class="interaction">
                <i class="iconfont"></i>
                收藏
            </div>
            <div class="interaction">点赞</div>
            <div class="interaction">评论</div>
            <div class="interaction">分享</div>
        </div>
        <div class="comments">

        </div>
    </div>
</div>
<script src="http://qzonestyle.gtimg.cn/open/qcloud/video/h5/h5connect.js"></script>
<script src="../js/QzonePlayer.js"></script>
</body>
</html>