<html>
<meta charset="utf-8">
<head>

    <link rel="stylesheet" href="../css/left_panel.css" type="text/css">
    <link rel="stylesheet" href="../css/right_pannel.css" type="text/css">
    <script src="../js/left_panel.js"></script>

</head>

<body>
<div class="content">
    <div class="left">

        <div class="head_pic">
            <img src="../image/head_pic.png"/>
        </div>

        <div class="head_tag">
            <div>
                <div class="head_item"><img src="../image/my.png"/>

                    <div class="head_item_text">我的</div>
                </div>
                <div class="head_item"><img src="../image/collect.png"/>

                    <div class="head_item_text">收藏</div>
                </div>
                <div class="head_item"><img src="../image/search.png"/>

                    <div class="head_item_text">搜索</div>
                </div>
            </div>
        </div>
        <div class="head_line">______________________</div>
        <div class="left_content">

            <div class="left_item">
                <img src="../image/new.png"/>

                <div class="left_item_text">最新</div>
            </div>
            <div class="left_item">
                <img src="../image/discuss.png"/>

                <div class="left_item_text">热门</div>
            </div>
            <div class="left_item">
                <img src="../image/list.png"/>

                <div class="left_item_text">专题列表</div>
            </div>
            <div class="left_item">
                <img src="../image/school.png"/>

                <div class="left_item_text">老年大学</div>
            </div>
            <div class="left_item">
                <img src="../image/exercise.png"/>

                <div class="left_item_text">运动锻炼</div>
            </div>
            <div class="left_item">
                <img src="../image/healthy.png"/>

                <div class="left_item_text">健康养生</div>
            </div>
            <div class="left_item">
                <img src="../image/reading.png"/>

                <div class="left_item_text">快乐阅读</div>
            </div>
            <div class="left_item">
                <img src="../image/relax.png"/>

                <div class="left_item_text">休闲娱乐</div>
            </div>
            <div class="left_item">
                <img src="../image/travel.png"/>

                <div class="left_item_text">旅游出行</div>
            </div>

        </div>

    </div>

    <div class="right">
        <div class="slideBox"></div>
        <div class="recomment">
            <div class="leftRecommend">
                <div class="catalogTitle">
                    <h3>健康养生</h3>

                    <div>
                        <hr class="paperHr"/>
                        <div class="paperThumbnail"></div>
                        <div class="paperTitle">
                            夏季养生宝典之挑选养生蔬菜的原则
                        </div>
                    </div>
                    <div>
                        <hr class="paperHr"/>
                        <div class="paperThumbnail"></div>
                        <div class="paperTitle">
                            夏季养生宝典之挑选养生蔬菜的原则
                        </div>
                    </div>
                    <div>
                        <hr class="paperHr"/>
                        <div class="paperThumbnail"></div>
                        <div class="paperTitle">
                            夏季养生宝典之挑选养生蔬菜的原则
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightRecommend">
                <div class="catalogTitle">
                    <h3>健康养生</h3>

                    <div>
                        <hr class="paperHr"/>
                        <div class="paperThumbnail"></div>
                        <div class="paperTitle">
                            夏季养生宝典之挑选养生蔬菜的原则
                        </div>
                    </div>
                    <div>
                        <hr class="paperHr"/>
                        <div class="paperThumbnail"></div>
                        <div class="paperTitle">
                            夏季养生宝典之挑选养生蔬菜的原则
                        </div>
                    </div>
                    <div>
                        <hr class="paperHr"/>
                        <div class="paperThumbnail"></div>
                        <div class="paperTitle">
                            夏季养生宝典之挑选养生蔬菜的原则
                        </div>
                    </div>
                </div>
                <hr class="catalogHr">
                <div class="catalogTitle">
                    <h3>旅游出行</h3>

                    <div>
                        <hr class="paperHr"/>
                        <div class="paperThumbnail"></div>
                        <div class="paperTitle">
                            夏季养生宝典之挑选养生蔬菜的原则
                        </div>
                    </div>
                    <div>
                        <hr class="paperHr"/>
                        <div class="paperThumbnail"></div>
                        <div class="paperTitle">
                            夏季养生宝典之挑选养生蔬菜的原则
                        </div>
                    </div>
                    <div>
                        <hr class="paperHr"/>
                        <div class="paperThumbnail"></div>
                        <div class="paperTitle">
                            夏季养生宝典之挑选养生蔬菜的原则
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>